.wr {
  background-color: white;
  display: flex;
  min-height: 58vh;
  font-family: 'Poppins', sans-serif;
}

.title {
  text-align: center;
  font-size: 40px;
  color: white;
}

.hrH {
  width: 99%;
  opacity: 0.2;
}

.inputBox {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 30px;
  border: 1px solid black;
  padding-right: 14px;
}

.left {
  margin-right: -150px;
}

.headerCart {
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
  align-items: center;
}

.btnBoxH {
  display: flex;
  gap: 10px;
}

.clearCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}

.clearCartP a {
  --tw-bg-opacity: 1;
  color: rgb(185 150 91 / var(--tw-bg-opacity));
}

.divider {
  color: white;
  width: 100%;
  height: 150px;
  background-color: #170200;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.text p {
  margin: 0;
}

.img {
  --tw-bg-opacity: 1;
  color: rgb(185 150 91 / var(--tw-bg-opacity));
  font-size: 40px;
}

.textOne {
  font-size: 18px;
}

.textTwo {
  font-size: 30px;
}

.hr {
  height: 80%;
  margin: 50px;
  opacity: 0.1;
}

.btnClear {
  --tw-bg-opacity: 1;
  background-color: rgb(185 150 91 / var(--tw-bg-opacity));
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(10 4 6 / var(--tw-text-opacity));
  width: max-content;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  font-size: 20px;
  font-weight: 600;
  padding: 12px;
}

.btnClear:hover {
  color: white;
}

.order {
  font-size: 40px;
  margin-top: 20px;
}

.itemInput {
  width: auto;
  margin-left: 24px;
  margin-right: 16px;
  transform: scale(1.8);
}

.headerCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartRight {
  margin-left: 0px;
}

.box {
  display: flex;
  flex-direction: column;
}

.btnCart {
  --tw-bg-opacity: 1;
  background-color: rgb(185 150 91 / var(--tw-bg-opacity));
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(10 4 6 / var(--tw-text-opacity));
  width: 100%;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  margin-top: 34px;
}

.btnCart:disabled {
  opacity: 0.5;
  color: white;
}

.btnClear {
  --tw-bg-opacity: 1;
  background-color: rgb(185 150 91 / var(--tw-bg-opacity));
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(10 4 6 / var(--tw-text-opacity));
  width: max-content;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  font-size: 20px;
  font-weight: 600;
  padding: 12px;
  margin-top: 34px;
  margin-left: 40px;
}

.btnClearCheck {
  --tw-bg-opacity: 1;
  background-color: rgb(185 150 91 / var(--tw-bg-opacity));
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(10 4 6 / var(--tw-text-opacity));
  width: max-content;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  font-size: 20px;
  font-weight: 600;
  padding: 12px;
  margin-top: 34px;
  margin-left: 40px;
}

.btnClearCheck:disabled:hover {
  opacity: 0.5;
  color: white;
  --tw-bg-opacity: 1;
  background-color: rgb(185 150 91 / var(--tw-bg-opacity));
}

.btnClearCheck:disabled {
  opacity: 0.5;
  color: white;
  --tw-bg-opacity: 1;
  background-color: rgb(185 150 91 / var(--tw-bg-opacity));
}

.btnClearCheck:hover {
  background-color: black;
  color: white;
}

.btnClear:hover {
  background-color: black;
  color: white;
}

.btnCart:hover {
  color: white;
}

.totalI,
.totalP {
  font-size: 30px;
  margin: 0;
}

.countTotal,
.totalPrice {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.cartRightSum,
.totalPriceBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
