.productListWr {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.wr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(442.5px, auto));
  justify-content: center;
  margin-top: 50px;
}

/* .emptyList {
    min-height: calc(100vh - 100px - 160px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.emptyList p {
font-size: 20px;
}

.emptyList i {
    font-size: 56px;
} */

.divider {
  color: white;
  width: 100%;
  height: 150px;
  background-color: #170200;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.text p {
  margin: 0;
}

.img {
  --tw-bg-opacity: 1;
  color: rgb(185 150 91 / var(--tw-bg-opacity));
  font-size: 40px;
}

.textOne {
  font-size: 18px;
}

.textTwo {
  font-size: 30px;
}

.hr {
  height: 80%;
  margin: 50px;
  opacity: 0.1;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
